# Example PlatformIO Project Configuration Override
# ------------------------------------------------------------------------------
# Copy to platformio_override.ini to activate overrides
# ------------------------------------------------------------------------------
# Please visit documentation: https://docs.platformio.org/page/projectconf.html

[platformio]
default_envs = atoms3_4MB_debug

[env:atoms3_4MB]
;; compatible build with M5Stack AtomS3 - https://docs.platformio.org/en/latest/boards/espressif32/m5stack-atoms3.html
board = esp32-s3-devkitc-1
platform = ${esp32s3.platform}
platform_packages = ${esp32s3.platform_packages}
upload_speed = 921600 ; or  460800
lib_deps = ${esp32s3.lib_deps}
board_build.partitions = tools/WLED_ESP32_4MB_1MB_FS.csv
board_build.f_flash = 80000000L
board_build.flash_mode = qio
; board_build.flash_mode = dio   ;; try this if you have problems at startup
monitor_filters = esp32_exception_decoder
build_unflags = ${common.build_unflags}
build_flags = ${common.build_flags} ${esp32s3.build_flags} -D WLED_RELEASE_NAME=ESP32-S3_4MB
  -D CONFIG_LITTLEFS_FOR_IDF_3_2 -D WLED_WATCHDOG_TIMEOUT=0
  -D ARDUINO_USB_CDC_ON_BOOT=0  ;; -D ARDUINO_USB_MODE=1 ;; for boards with serial-to-USB chip
  ;-D ARDUINO_USB_CDC_ON_BOOT=1 ;; -D ARDUINO_USB_MODE=1 ;; for boards with USB-OTG connector only (USBCDC or "TinyUSB")
  -D LEDPIN=1
  -D DEFAULT_LED_COUNT=256 
  -D CLIENT_SSID="\"YOUR_LOCAL_WIFI_SSID\"" -D CLIENT_PASS="\"YOUR_LOCAL_WIFI_PASS\""

[env:atoms3_4MB_debug]
;; compatible build with M5Stack AtomS3 - https://docs.platformio.org/en/latest/boards/espressif32/m5stack-atoms3.html
board = esp32-s3-devkitc-1
platform = ${esp32s3.platform}
platform_packages = ${esp32s3.platform_packages}
upload_speed = 921600 ; or  460800
lib_deps = ${esp32s3.lib_deps}
board_build.partitions = tools/WLED_ESP32_4MB_1MB_FS.csv
board_build.f_flash = 80000000L
board_build.flash_mode = qio
; board_build.flash_mode = dio   ;; try this if you have problems at startup
monitor_filters = esp32_exception_decoder
build_unflags = ${common.build_unflags}
build_type = debug
build_flags = ${common.build_flags} ${esp32s3.build_flags} -D WLED_RELEASE_NAME=ESP32-S3_4MB_DEBUG
  -D CONFIG_LITTLEFS_FOR_IDF_3_2 -D WLED_WATCHDOG_TIMEOUT=0
  -D ARDUINO_USB_CDC_ON_BOOT=0  ;; -D ARDUINO_USB_MODE=1 ;; for boards with serial-to-USB chip
  ;-D ARDUINO_USB_CDC_ON_BOOT=1 ;; -D ARDUINO_USB_MODE=1 ;; for boards with USB-OTG connector only (USBCDC or "TinyUSB")
  -D LEDPIN=1
  -D DEFAULT_LED_COUNT=256 
  -D CLIENT_SSID="\"YOUR_LOCAL_WIFI_SSID\"" -D CLIENT_PASS="\"YOUR_LOCAL_WIFI_PASS\""
  -D WLED_DEBUG
  -D WLED_DEBUG_HOST='"YOUR_DEBUG_RECEIVER_IP"'
  ; receiver
  ; -D WLED_DEBUG_PORT=7868
  ; sender
  -D WLED_DEBUG_PORT=7869
  -D WLED_DISABLE_OTA
  -D WLED_DISABLE_ALEXA
  -D WLED_DISABLE_HUESYNC
  -D WLED_DISABLE_INFRARED
  -D WLED_DISABLE_WEBSOCKETS
  -D BTNPIN=41
; *********************************************************************
; *** Use custom settings from file my_config.h
;    -DWLED_USE_MY_CONFIG
; *********************************************************************
;
;
; *** To use the below defines/overrides, copy and paste each onto it's own line just below build_flags in the section above.
; 
; disable specific features
;  -D WLED_DISABLE_OTA
;  -D WLED_DISABLE_ALEXA
;  -D WLED_DISABLE_HUESYNC
;  -D WLED_DISABLE_INFRARED
;  -D WLED_DISABLE_WEBSOCKETS
; PIN defines - uncomment and change, if needed:
;   -D LEDPIN=2
;   -D BTNPIN=0
;   -D TOUCHPIN=T0
;   -D IRPIN=4
;   -D RLYPIN=12
;   -D RLYMDE=1
; digital LED strip types - uncomment only one ! - this will disable WS281x / SK681x support
;   -D USE_APA102
;   -D USE_WS2801
;   -D USE_LPD8806
; PIN defines for 2 wire LEDs
;    -D CLKPIN=0
;    -D DATAPIN=2
; to drive analog LED strips (aka 5050) hardware configuration is no longer necessary
; configure the settings in the UI as follows (hard):
;   for the Magic Home LED Controller use PWM pins 5,12,13,15
;   for the H801 controller use PINs 15,13,12,14 (W2 = 04)
;   for the BW-LT11 controller use PINs 12,4,14,5
;   
; set the name of the module - make sure there is a quote-backslash-quote before the name and a backslash-quote-quote after the name
;   -D SERVERNAME="\"WLED\""
;   
; set the number of LEDs
;   -D DEFAULT_LED_COUNT=30
;   
; set milliampere limit when using ESP pin to power leds
;   -D ABL_MILLIAMPS_DEFAULT=850
;
; enable IR by setting remote type
;   -D IRTYPE=0 ;0 Remote disabled | 1 24-key RGB | 2 24-key with CT | 3 40-key blue | 4 40-key RGB | 5 21-key RGB | 6 6-key black | 7 9-key red | 8 JSON remote
;   
; set default color order of your led strip
;   -D DEFAULT_LED_COLOR_ORDER=COL_ORDER_GRB
